.task {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(#fff, #e6e4ea);
  color: #40403f;
  align-items: center;
  overflow: hidden;
}

.task .done {
  --dimensions: 31px;
  background-image: url(./img/checkbox.png);
  height: var(--dimensions);
  width: var(--dimensions);
  margin-right: 1.5rem;
}

.task .favourite {
  --dimensions: 31px;
  height: var(--dimensions);
  width: var(--dimensions);
  margin-right: 1.5rem;
}

.task .name-timestamp-wrapper {
  white-space: pre;
  overflow: hidden;
  width: calc(100% - 2rem);
}

.task svg {
  transition: all 0.5s;
  stroke:1px solid black;
}

.task .name {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task .timestamp {
  font-size: 1.2rem;
  color: #747474;
}