.task {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(#fff, #e6e4ea);
  color: #40403f;
  align-items: center;
  overflow: hidden;
}

.task .done {
  --dimensions: 31px;
  background-image: url('../img/checkbox.png');
  height: var(--dimensions);
  width: var(--dimensions);
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}